<!-- jumbotron 1 -->
<div class="jumbotron">
	<div class="container"> 
  		<h1>TechnoRestore</h1>
  	 	<p>Servicio Tecnico Integral.</p>
     	<p><a class="btn btn-primary btn-lg">Conocer más</a></p>
    </div>
</div>

<div class="jumbotron">
	<div class="container"> 
  	<h1>Servicio Tecnico</h1>
  	</br>

    <div class="list-group, col-md-4">
  		<a href="#" class="list-group-item active">iPhone </a>
  		<a href="#" class="list-group-item">Pantalla </a>
  		<a href="#" class="list-group-item">Camara </a>
  		<a href="#" class="list-group-item">Bateria </a>
  		<a href="#" class="list-group-item">Antena Wi-fi </a>
  		<a href="#" class="list-group-item">Parlante </a>
  		<a href="#" class="list-group-item">Auricular </a>
		</div>

		<div class="list-group, col-md-4">
  		<a href="#" class="list-group-item active">iPad </a>
  		<a href="#" class="list-group-item">Pantalla </a>
  		<a href="#" class="list-group-item">Camara </a>
  		<a href="#" class="list-group-item">1 </a>
  		<a href="#" class="list-group-item">2 </a>
  		<a href="#" class="list-group-item">3 </a>
  		<a href="#" class="list-group-item">4 </a>
		</div>

		<div class="list-group, col-md-4">
  		<a href="#" class="list-group-item active">Macbook </a>
  		<a href="#" class="list-group-item">Disco Duro, SSD, Caddy </a>
  		<a href="#" class="list-group-item">Restauracion </a>
  		<a href="#" class="list-group-item">1  </a>
  		<a href="#" class="list-group-item">2 </a>
  		<a href="#" class="list-group-item">3 </a>
  		<a href="#" class="list-group-item">4 </a>
		</div>

  </div>
</div>

<div class="jumbotron">
	<div class="container"> 
  	<h1>Venta de Productos</h1>
  	</br>

    <div class="list-group, col-md-4">
  		<a href="#" class="list-group-item active">Apple </a>
  		<a href="#" class="list-group-item">iPhone </a>
  		<a href="#" class="list-group-item">iPad </a>
  		<a href="#" class="list-group-item">Macbook </a>
  		<a href="#" class="list-group-item">iMac </a>
  		<a href="#" class="list-group-item">Accesorios </a>
		</div>

		<div class="list-group, col-md-4">
  		<a href="#" class="list-group-item active">Consolas </a>
  		<a href="#" class="list-group-item">PS4 - PS3 </a>
  		<a href="#" class="list-group-item">XBOX 360 - XBOX ONE</a>
  		<a href="#" class="list-group-item">Juegos </a>
  		<a href="#" class="list-group-item">1 </a>
  		<a href="#" class="list-group-item">2 </a>
		</div>

		<div class="list-group, col-md-4">
  		<a href="#" class="list-group-item active">GoPro </a>
  		<a href="#" class="list-group-item">Micro SD </a>
  		<a href="#" class="list-group-item">Accesorios </a>
  		<a href="#" class="list-group-item">1 </a>
  		<a href="#" class="list-group-item">2 </a>
  		<a href="#" class="list-group-item">3 </a>
		</div>

  </div>
</div>

<div class="jumbotron">
	<div class="container"> 
  	<h1>Venta de Repuestos e Insumos</h1>
  		</br>
  		
  		<div class="list-group, col-md-4">
  		<a href="#" class="list-group-item active">Apple </a>
  		<a href="#" class="list-group-item">iPhone </a>
  		<a href="#" class="list-group-item">iPad </a>
  		<a href="#" class="list-group-item">Macbook </a>
  		<a href="#" class="list-group-item">iMac </a>
			</div>

			<div class="list-group, col-md-4">
  		<a href="#" class="list-group-item active">Consolas </a>
  		<a href="#" class="list-group-item">PlayStation </a>
  		<a href="#" class="list-group-item">Microsoft </a>
  		<a href="#" class="list-group-item">Nintendo </a>
  		<a href="#" class="list-group-item">Otros </a>
			</div>

			<div class="list-group, col-md-4">
  		<a href="#" class="list-group-item active">Computadores & Notebooks </a>
  		<a href="#" class="list-group-item">1</a>
  		<a href="#" class="list-group-item">2 </a>
  		<a href="#" class="list-group-item">3 </a>
  		<a href="#" class="list-group-item">4 </a>
			</div>

  </div>
</div>

<div class="jumbotron">
	<div class="container"> 
  	<h1>Contactanos</h1> 
  	<h3>Lunes - Viernes: 11:00 AM - 20:00 PM </h3>
  	<p><strong> Celular: </strong> +5697330241</p>
  	<p><strong> Correo: </strong> technorestore@gmail.com</p>
  </div>
</div>