<div class=" container">
	<div class="thumbnail">
		<h1>Editar Productos Cliente</h1>
	</div>
</div>

<div class=" container">
	<div class="thumbnail">
		<%= render 'form2' %>
	</div>
	<%= link_to 'Mostrar', @product , class: 'btn btn-primary'%> |
	<%= link_to 'Volver', cproducts_path, class: 'btn btn-primary' %>
</div>
