<!-- Formulario  -->
<div class="container"> 
  <div class="row"> 
    <div class="col-md-6 col-md-offset-3">
    	<legend> <h1>Editar Productos Cliente</h1> </legend>
      
      <div class= "jumbotron">
					<%= render 'form2' %>
					</br>
					<%= link_to 'Mostrar', @cproduct , class: 'btn btn-primary'%> |
					<%= link_to 'Volver', cproducts_path, class: 'btn btn-primary' %>	
 			</div >
    </div>
  </div>
</div>  