<!-- titulo  -->
<div class="container">
	<div class="thumbnail">
		<h1>Nuevo Producto cliente</h1>
	</div>
</div>

<!-- Formulario  -->
<div class=" container">	
	<div class="thumbnail">
		<%= render 'form' %>	
 	</div >
	<%= link_to 'Volver', cproducts_path, class: "btn btn-primary" %>
</div>