<!-- Formulario  -->
<div class="container"> 
  <div class="row"> 
    <div class="col-md-6 col-md-offset-3">
    	<legend> <h1>Nuevo Producto </h1> </legend>
      
      <div class= "jumbotron">
					<%= render 'form' %>
					</br>	
					<%= link_to 'Volver', products_path, class: "btn btn-primary" %>
 			</div >
    </div>
  </div>
</div>  